body ::before{
    text-align: left;
    display: inline;
    margin: .5em;

}

body {

    /* border: 1px black solid; */
    margin-left: auto;
    margin-right: auto;
}


label {
    display: none;
}

input {
    display: block;
}

#tables {
    margin: 0em;
    /* border: 1px black solid; */
    display: inline-block;
    float: right;
}

#tables table {
    height: .5em;
}

#tables th {
    width: 150px;
    padding: .5rem;
}

#tables tbody tr td {
    /* width: 150px; */
    padding: .5rem;
}

.companyInfo {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.companyInfo p {
    margin-bottom: 0em;
}

#billToTable th, #billToTable td {
    padding: .5rem;
}

#billToTable {
    margin-top: .5em;
    margin-bottom: 0em;
    width: 100%;
}

#billToTable td {
    /* width: 100%; */
}

.descriptionRow1 td input {
    border: none;
    border-bottom: 1px solid grey;
}

.descriptionRow1 td input:focus {
    outline: none;
}


.descriptionRow td input {
    border: none;
    border-bottom: 1px solid grey;
}

.descriptionRow td input:focus {
    outline: none;
}

#customerContainer {
    margin-top: .5em;
}

select {
    width: 100%;
}