.displayContainer {
    margin: 1em;
    text-align: left;

}

label {
    width: 5em;
}

select {
    height: 2em;
    border: none;
    background-color: whitesmoke;
    padding-top: .5em;
}

/* Modal styling */
input#unitPrice, input#quantity {
    border: none;
    border-bottom: 1px solid black;
    width: 6em;
}

label#descriptionLabel {
    display: none;
}

textarea#description {
    width: 15em;
    border-width: 0 0 1px 0;
    border-bottom-color: black;
    word-break: break-word;
    word-wrap: break-word;
}

p {
    margin-top: .5em
}

form#invoiceForm {

}

/* Table styling */
table {
    margin-top: 1em;
    padding: .5em;
    text-align: left;

}

table label {
    display: none;
}

tr.product {
    cursor: pointer;
}

.selected {
    background-color: aquamarine;
}

th {
    padding-right: .5em;
    border-bottom: 1px solid black;
}


td.description {
    word-break: break-all;
}

button.add_form_field {
    text-align: center;
    display: block;
}


@media (max-width: 500px) {

    select, input {
        width: 100%;
    }

    label {
        display: inline-block;
        text-align: left;
        /*width: 5em;*/
    }







}

/*body ::before{*/
/*    text-align: left;*/
/*    display: inline;*/
/*    margin: .5em;*/

/*}*/

/*body {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/



/*#tables table {*/
/*    height: .5em;*/
/*}*/

/*#tables th {*/
/*    width: 150px;*/
/*    padding: .5rem;*/
/*}*/

/*#tables tbody tr td {*/
/*    !* width: 150px; *!*/
/*    padding: .5rem;*/
/*}*/

/*.companyInfo {*/
/*    margin-top: 1.5em;*/
/*    margin-bottom: 2.5em;*/
/*}*/

/*.companyInfo p {*/
/*    margin-bottom: 0em;*/
/*}*/

/*#billToTable th, #billToTable td {*/
/*    padding: .5rem;*/
/*}*/

/*#billToTable {*/
/*    margin-top: .5em;*/
/*    margin-bottom: 0em;*/
/*    width: 100%;*/
/*}*/

/*#billToTable td {*/
/*    !* width: 100%; *!*/
/*}*/

/*.descriptionRow1 td input {*/
/*    border: none;*/
/*    border-bottom: 1px solid grey;*/
/*}*/

/*.descriptionRow1 td input:focus {*/
/*    outline: none;*/
/*}*/


/*.descriptionRow td input {*/
/*    border: none;*/
/*    border-bottom: 1px solid grey;*/
/*}*/

/*.descriptionRow td input:focus {*/
/*    outline: none;*/
/*}*/

/*#customerContainer {*/
/*    margin-top: .5em;*/
/*}*/

/*select {*/
/*    width: 100%;*/
/*}*/
